{% extends "layou2.html" %}
{% block content %}
    <center>
        <h1>About</h1>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <p>The Hive is a Social Media Web Application offered to Student Organizations
                    found at a College or University. The Hive allows members of such Student Organization
                    an innovative approach towards finding their new friends on Campus. The Student Organizations
                    that are most likely to use The Hive are those that have mentor/mentee, big/little, sister/brother
                    etc. programs. Not only can users discover their new friends, but admins have the ability to pair
                    applicants with each other based on the user's profile and application on The Hive.</p>

                    <p>All users have the ability to update/view their profile, update/view their application,
                    search for bigs and littles, and view alerts from the admins of the Student Organization. Admins
                    have the ability to view both the profile (public to users) and application (private to specific user)
                    for each applicant, search applicants based on a series of criteria such as first name, gender, user kind
                    (big or little), and pairing key, and send alerts to all users. The most important ability for admins is
                    the vital responsibility of pairing applicants with their closest friends for life. View some of the feautures
                    of this Web Application below!</p>
                </div>
            </div>
        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->

                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/bigapp.JPG" alt="" />
                            <p>Create your Application using the "Modify Big/Little Application"</p>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/viewbigapp.JPG" alt="" />
                            <p>View your Application using the "View Big/Little Application"</p>
                        </div>
                    </div>

        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/profile.JPG" alt="" />
                            <p>Create your Profile</p>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/viewprofile.JPG" alt="" />
                            <p>Modify Profile</p>
                        </div>
                    </div>

        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->

                    <div class="col-md-6 col-lg-4 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/malelittlesearch.JPG" alt="" />
                            <p>View Littles by Gender</p>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/searchlittles.JPG" alt="" />
                            <p>Search for Littles</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/littlesearchresults.JPG" alt="" />
                            <p>View Searched Littles</p>
                        </div>
                    </div>

        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/bigall.JPG" alt="" />
                            <p>Admins can view both the Big's
                            Application and Profile</p>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="static/assets/img/portfolio/pairing.JPG" alt="" />
                            <p>Admins can pair Bigs with their
                            potential Little</p>
                        </div>
                    </div>

        </div>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <p>Other features that were not featured above is the ability for Admins to send
                    alerts to Bigs, Littles, or both parties of people. Upon request, I will do my absolute
                    best to add whatever feature you need to ensure that both you and the members of your
                    Student Organization have the best experience in finding their new friends. Please contact
                    me if you are interested in using this product!!!</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <h5>About this Product</h5>
                    <p>This Web Application is made using a variety of Programming/Scripting Languages:
                    Python, PHP, HTML, CSS, and JavaScript. The Python and HTML was written by the Developer
                    and the CSS, JavaScript, and PHP was open source. You can find this repository on GitHub
                    by following me: azach99!!!</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <h5>About the Author</h5>
                    <p>I, Zach Amados, am a current Junior at Virginia Tech majoring in Computer Science and
                    minoring in Mathematics. Some of my strongest languages are Java and Python. Scripting languages
                    that I am familiar with are HTML and CSS. Some other languages that I am also familiar with
                    consist of JavaScript and C. Feel free to email me zamados426@gmail.com. Follow me on all of
                    my social media:</p>
                    <p>Instagram: @zach_amados</p>
                    <p>Snapchat: @iiizachiii</p>
                    <p>Gitub: @azach99</p>
                </div>
            </div>
        </div>
    </center>
{% endblock content%}