
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/mai.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link href="static/css/styles.css" rel="stylesheet" />

    <!--<title>Title</title>-->
    {% if title %}
        <title>The Hive - {{ title }}</title>
    {% else %}
        <title>The Hive</title>
    {% endif %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            color: white
        }
        a {
            color: white
        }
        p {
            color: white
        }
        label {
            color: white
        }
        body {
             background-image: url("static/assets/img/portfolio/space.png");
             background-color: #cccccc;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-0">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                <h5><a class="nav-link" href="/">The Hive</a></h5>
              </li>
                        {% if not current_user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
                   <li class="nav-item">
                <a class="nav-link" href="/adminlogin">Admin Login</a>
              </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/bigmaleadmin">Bigs - Male</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/bigfemaleadmin">Bigs - Females</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/littlemaleadmin">Littles - Males</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/littlefemaleadmin">Littles - Females</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/adminsearchfirstbig">Search - Bigs</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/adminsearchfirstlittle">Search - Littles</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/usersearchbig">Search - Pairing Key</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% endif %}
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <div class = "container">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages%}
                    <div class = "alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor%}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

        </main>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>