{% extends "adminlayout.html" %}
{% block content %}
    <center>
    <h1>Welcome Admin</h1>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <p>The Hive is a Social Media Web Application offered to Student Organizations
                    found at a College or University. The Hive allows members of such Student Organization
                    an innovative approach towards finding their new friends on Campus. The Student Organizations
                    that are most likely to use The Hive are those that have mentor/mentee, big/little, sister/brother
                    etc. programs. Not only can users discover their new friends, but admins have the ability to pair
                    applicants with each other based on the user's profile and application on The Hive. To learn more
                    information about The Hive, visit the About Page.</p>
                </div>
            </div>
        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->

                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="/unpairedbigs"><h5>Unpaired Bigs</h5></a>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="/unpairedlittles"><h5>Unpaired Littles</h5></a>
                        </div>
                    </div>

        </div>
        </center>
{% endblock content%}