<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/mai.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link href="static/css/styles.css" rel="stylesheet" />

    <!--<title>Title</title>-->
    {% if title %}
        <title>Big/Little Application - {{ title }}</title>
    {% else %}
        <title>Big/Little Application Speaks</title>
    {% endif %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            color: white
        }
        a {
            color: white
        }
        p {
            color: white
        }
        label {
            color: white
        }
        body {
             background-image: url("static/assets/img/portfolio/space.png");
             background-color: #cccccc;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-0">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#"><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Brand</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-cog fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Big Little Application</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">




        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
          </li>

              <li class="nav-item">
                  <a class="nav-link" href="/registration"></a>
              </li>
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
                {% if current_user.kind == "Big" %}
                <li class="nav-item">
                  <a class="nav-link" href="/bigapplication">Modify Big Application</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bigview">View Big Application</a>
              </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/littleapplication">Modify Little Application</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/littleview">View Little Application</a>
              </li>
            {% endif%}
                <li class="nav-item">
                  <a class="nav-link" href="/modifyprofile">Modify Profile</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/viewprofile">View Profile</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/updatepicture">Update Picture</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/bigmales">Big Males</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/bigfemales">Big Females</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/littlemales">Little Males</a>
              </li>
            <li class="nav-item">
                  <a class="nav-link" href="/littlefemales">Little Females</a>
              </li>
            {% endif %}


        </ul>





      </div>
    </nav>
            <h2>Example</h2>
            <p>
                This is a Bootstrap 4 example layout that includes a Sidebar menu. On larger screen widths, the Sidebar is on the
                left side and consumes the entire page height. It's vertically positioned down the screen. On smaller screen widths (like mobile phones and tablets), the Sidebar
                moves to the top of the page, and becomes horizontally positioned across the page like a Navbar. Only icons are shown
                on mobile to limit use of screen real estate.
            </p>
            <p>
                This Sidebar works using only Bootstrap CSS classes and doesn't require JavaScript. It utilizes the responsive Navbar classes
                to auto-magically switch the Sidebar orientation.
            </p>
        </main>
    </div>
</div>
</body>
</html>