{% extends "layou2.html" %}
{% block content %}
    <center>
    <h1>Preferred Bigs</h1>
        <h5>Choose at most 3 Bigs that you would prefer to have ranked from 1 (most preferred)
        to 3 (least preferred).</h5>
    <form class = "needs-validation" method = "POST">
        {{ form.hidden_tag() }}
        <div class = "col-md-6 mb-3">
            {{ form.first.label(class = "form-control-label") }}
            {% if form.first.errors %}
              {{ form.first(class = "form-control form-control-lg is-invalid")}}
              <div class = "invalid-feedback">
                {% for error in form.first.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.first(class = "form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class = "col-md-6 mb-3">
            {{ form.second.label(class = "form-control-label") }}
            {% if form.second.errors %}
              {{ form.second(class = "form-control form-control-lg is-invalid")}}
              <div class = "invalid-feedback">
                {% for error in form.second.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.second(class = "form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class = "col-md-6 mb-3">
            {{ form.third.label(class = "form-control-label") }}
            {% if form.third.errors %}
              {{ form.third(class = "form-control form-control-lg is-invalid")}}
              <div class = "invalid-feedback">
                {% for error in form.third.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.third(class = "form-control form-control-lg")}}
            {% endif %}
        </div>

        <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info")}}
          </div>
    </form>
        </center>
{% endblock content %}