{% extends "layou2.html" %}
{% block content %}

    <h1>Update Picture</h1>
    <br>
    <br>
    <form class="needs-validation" method = "POST" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-md-12 mb-3">
            <p>Update Profile Picture</p>
            {{ form.picture(class="alert alert-light") }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
        </div>
        <div class = "col-md-12 mb-3">
            {{ form.submit(class = "btn btn-outline-info")}}
          </div>
    </form>






    <br>
    <br>
    <br>


{% endblock content %}