{% extends "layou2.html" %}
{% block content %}
    <center>
        <h1>Welcome to The Hive</h1>
        <div class = "row">
            <div class="col-md-12 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <p>The Hive is a Social Media Web Application offered to Student Organizations
                    found at a College or University. The Hive allows members of such Student Organization
                    an innovative approach towards finding their new friends on Campus. The Student Organizations
                    that are most likely to use The Hive are those that have mentor/mentee, big/little, sister/brother
                    etc. programs. Not only can users discover their new friends, but admins have the ability to pair
                    applicants with each other based on the user's profile and application on The Hive.</p>
                </div>
            </div>
        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->

                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            {% if current_user.kind == "Big" %}
                                <a href="/bigapplication"><h5>Application</h5></a>
                            {% else %}
                                <a href="/littleapplication"><h5>Application</h5></a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    {% if current_user.submitted_application == "True" %}
                        <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <a href="/modifyprofile"><h5>Profile</h5></a>
                            </div>
                        </div>
                    {% endif %}

        </div>
        <div class="row">
                    <!-- Portfolio Item 1-->
                    {% if current_user.submitted_profile == "True" %}
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <!--<img class="img-fluid" src="static/assets/img/portfolio/cabin.png" alt="" />-->
                            <a href="/updatepicture"><h5>Picture</h5></a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-5" style = "padding: 5%; border-radius: 30px; border: 2px solid white">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="/about"><h5>About</h5></a>
                        </div>
                    </div>

        </div>
    </center>
{% endblock content%}